.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  
  @media only screen and (max-width: 576px) {
    display:  block;
  }

  > div {
    width: calc(25% - 40px);
    max-width: calc(25% - 40px);
    flex: 1 0 auto;

    @media only screen and (max-width: 992px) {
      width: calc(33% - 40px);
      max-width: calc(33% - 40px);
    }

    @media only screen and (max-width: 768px) {
      width: calc(50% - 40px);
      max-width: calc(50% - 40px);
    }

    @media only screen and (max-width: 576px) {
      width: calc(100% - 40px);
      max-width: calc(100% - 40px);
    }
  }
}